@inherits LayoutComponentBase
<div class="page">
    <main>
        <MudThemeProvider />
        <MudDialogProvider FullWidth="true"
                           MaxWidth="MaxWidth.Small"
                           CloseButton="true"
                           DisableBackdropClick="true"
                           Position="DialogPosition.Center" />
        <MudSnackbarProvider />
        <article>
            @Body
        </article>
    </main>
</div>
