.title-row {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 25px;
}

.datagrid-row {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 25px;
    font-size: 20px;
}

    .datagrid-row span {
        font-size: 30px;
        margin: 15px;
    }

.add-new {
    margin: 10px;
}
